/* our team styles */

.description {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.profile-picture {
    width: 100%;
    max-width: 300px;
}

.biography {
    margin: 0;
}

@media screen and (max-width: 650px) {

    .profile-picture {
        max-width: 350px;
        max-height: 60vw;
        object-fit: cover;
        border-radius: var(--border-radius);

        display: block;
        margin: 0 auto;
    }

    .description {
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
}
