<!-- our team -->

<app-section [title]="'Our team'">
    <app-content-box [title]="'Dr. Carlos Cervera'">
        <app-contact-info
            [email]="'cerveraa@ualberta.ca'"
            [link]="'https://www.ualberta.ca/medicine/about/people/details.html?n=carlos-cervera-alvarez'">
        </app-contact-info>
        <div class="description">
            <img src="/assets/images/carlos.png" class="profile-picture" />
            <p class="biography">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                sit amet augue nec augue ullamcorper euismod at sed orci. Donec
                at fringilla odio. Aenean nec egestas sem, non eleifend tellus.
                Duis nec condimentum erat, vitae venenatis quam. Curabitur bibendum
                lacus vel turpis congue, vel interdum velit consectetur. Sed eleifend
                tellus vel sem ornare, non iaculis justo vehicula. Donec elit risus,
                fermentum id ultricies at, congue in neque. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Donec sit amet augue nec augue ullamcorper
                euismod at sed orci. Donec at fringilla odio. Aenean nec egestas sem,
                non eleifend tellus. Duis nec condimentum erat, vitae venenatis quam.
                Curabitur bibendum lacus vel turpis congue, vel interdum velit consectetur.
                Sed eleifend tellus vel sem ornare, non iaculis justo vehicula. Donec
                elit risus, fermentum id ultricies at, congue in neque. 
            </p>
        </div>
    </app-content-box>
</app-section>
