<!-- about us -->

<app-section [title]="'About us'">
    <app-content-box [title]="'Who we are'">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            sit amet augue nec augue ullamcorper euismod at sed orci. Donec
            at fringilla odio. Aenean nec egestas sem, non eleifend tellus.
            Duis nec condimentum erat, vitae venenatis quam. Curabitur bibendum
            lacus vel turpis congue, vel interdum velit consectetur. Sed eleifend
            tellus vel sem ornare, non iaculis justo vehicula. Donec elit risus,
            fermentum id ultricies at, congue in neque. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Donec sit amet augue nec augue ullamcorper
            euismod at sed orci. Donec at fringilla odio. Aenean nec egestas sem,
            non eleifend tellus. Duis nec condimentum erat, vitae venenatis quam.
            Curabitur bibendum lacus vel turpis congue, vel interdum velit consectetur.
            Sed eleifend tellus vel sem ornare, non iaculis justo vehicula. Donec
            elit risus, fermentum id ultricies at, congue in neque. 
        </p>
        <div class="image-showcase">
            <app-labelled-image
                [path]="'/assets/images/sem/005 - S5 + PK + AL - E003.png'"
                [label]="'a'"></app-labelled-image>
            <app-labelled-image
                [path]="'/assets/images/sem/043 - E001.png'"
                [label]="'b'"></app-labelled-image>
            <app-labelled-image
                [path]="'/assets/images/sem/043 - E002.png'"
                [label]="'c'"></app-labelled-image>
            <app-labelled-image
                [path]="'/assets/images/sem/047 - E001.png'"
                [label]="'d'"></app-labelled-image>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            sit amet augue nec augue ullamcorper euismod at sed orci. Donec
            at fringilla odio. Aenean nec egestas sem, non eleifend tellus.
            Duis nec condimentum erat, vitae venenatis quam. Curabitur bibendum
            lacus vel turpis congue, vel interdum velit consectetur. 
        </p>
    </app-content-box>
    <app-content-box [title]="'What we do'">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            sit amet augue nec augue ullamcorper euismod at sed orci. Donec
            at fringilla odio. Aenean nec egestas sem, non eleifend tellus.
            Duis nec condimentum erat, vitae venenatis quam. Curabitur bibendum
            lacus vel turpis congue, vel interdum velit consectetur. Sed eleifend
            tellus vel sem ornare, non iaculis justo vehicula. Donec elit risus,
            fermentum id ultricies at, congue in neque. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Donec sit amet augue nec augue ullamcorper
            euismod at sed orci. Donec at fringilla odio. Aenean nec egestas sem,
            non eleifend tellus. Duis nec condimentum erat, vitae venenatis quam.
            Curabitur bibendum lacus vel turpis congue, vel interdum velit consectetur.
            Sed eleifend tellus vel sem ornare, non iaculis justo vehicula. Donec
            elit risus, fermentum id ultricies at, congue in neque. 
        </p>
        <div class="image-showcase">
            <app-labelled-image
                [path]="'/assets/images/sem/047 - E002.png'"
                [label]="'a'"></app-labelled-image>
            <app-labelled-image
                [path]="'/assets/images/sem/ID004 - E001.png'"
                [label]="'b'"></app-labelled-image>
            <app-labelled-image
                [path]="'/assets/images/sem/ID007 - E001.png'"
                [label]="'c'"></app-labelled-image>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            sit amet augue nec augue ullamcorper euismod at sed orci. Donec
            at fringilla odio. Aenean nec egestas sem, non eleifend tellus.
            Duis nec condimentum erat, vitae venenatis quam. Curabitur bibendum
            lacus vel turpis congue, vel interdum velit consectetur. 
        </p>
    </app-content-box>
</app-section>
