<!-- navigation -->

<div class="navigation">
    <div class="top-shadow"></div>
    <div class="nav-container" [@logoEnter]="showLogo">
        <img src="/assets/images/logo.png" class="logo" *ngIf="showLogo" />
        <nav>
            <ng-container *ngFor="let section of sections; let i = index">
                <a routerLink="{{sectionLinks[i]}}"
                    [class.selected]="selectedSection(i)"
                    class="text">{{section}}</a>
                <a routerLink="{{sectionLinks[i]}}"
                    [class.selected]="selectedSection(i)"
                    class="icon">
                    <img [src]="sectionIcon(i)" />
                </a>
            </ng-container>
        </nav>
    </div>
</div>
